body{
    background-image:url("../image/Festival.png");
    background-size: cover;
    margin: 0;
    
}
/* עיצוב הכותרת */
h1{
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: rgba(255,0,153) ;
}
/* עיצוב התמונה */
.imageTopics {
    box-shadow: 0 0 15px #000000;
    width: 300px; /* גודל התמונה, ניתן לשנות לפי הצורך */
    height:300px;
    background-size: cover;  
    transition: transform 0.3s ease; /* מעבר חלק לאנימציה */
    border-radius: 10px; /* קצוות מעוגלים, ניתן לשנות לפי הצורך */
}

/* הגדרות אנימציית מעבר על התמונות */

.image-container {
    position: relative; /* חובה לעמדה יחסית עבור הכיתוב */
    display: inline-block; /* כדי שהכיתוב יהיה מעל לתמונה */
}


.image-container:hover .imageTopics {
    transform: scale(1.05); /* הגדלת התמונה ב-5% בעת מעבר */
}

.image-container:hover .tooltip {
    opacity: 1; /* הופך את הכיתוב לגלוי בעת מעבר */
}

/*כל הגדרות בעיצוב של הכיתוב*/
.tooltip { 
    position: absolute; /* מיקום מוחלט של הכיתוב */
    bottom: 100%; /* מציב את הכיתוב מעל התמונה */
    left: 50%; /* מרכז את הכיתוב */
    transform: translateX(-50%); /* מרכז את הכיתוב ביחס לתמונה */
    background-color: rgba(0, 0, 0, 0.7); /* רקע כהה עם שקיפות */
    color: white; /* צבע טקסט לבן */
    font-size: 25px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px 10px; /* ריפוד סביב הכיתוב */
    border-radius: 5px; /* קצוות מעוגלים */
    opacity: 0; /* הכיתוב מתחיל בלתי נראה */
    transition: opacity 0.3s ease; /* מעבר חלק לנראות */
}

#containerTopics{
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
#imags{
    display: flex;
    gap:5vw;
    align-items: center;
    justify-content: center; 
}